* {
    box-sizing: border-box;
}

body {
        height: 100%;
        margin: auto;
        max-width: auto;
        background-color: rgb(230, 225, 185);
        
}

.header {
    background-image: url("/Users/vickylaw/Desktop/Assignments/Week01/Basic-Portfolio/assets/Others/images/background8.jpg");
    background-position: bottom;
    background-repeat: no-repeat;
    height: 600px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: black;
    font-size: 50px;
    text-align: center;
    padding: 20px;
    margin-bottom: 20px;
   
}
/* Contact*/
.h2 {
    clear: both;
    font-size: 40px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    text-align: center;
    color: purple
}

/* Form */

label
input [type=text],
input [type=email],
textarea {
    display: block;
    width: 100%;
     height:100px;
    width: 500px;
    
}
.main-section {
    text-align: center;
}

/* Name n Email */
.row1 {
    column-count: 2;
   
}

.row2 {
    text-align: center;
    column-count: 1;
}

.row3 {
    text-align: center;
  
}

button {
    border: 3px solid purple;
    
}


.label {
    font-weight: bold;
    font-size: 18px;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    padding: 10px;
   
    
}
.element {
    clear: both;
    height: 50px;
    width: 300px;
    font-size: 20px;
}

#lMessage {
    text-align: center;
    padding: 10px;
}

textarea#message {
   width: 100%;

  
}
/* Nav Icons
#id:hover { 
    color: white;
}*/
.row::after {
    clear: both;
    display: inline-table;
}



/*Nav Icons*/
.container {
    text-align: center;
}
#icon:hover {
    /* Start the shake animation and make the animation last for 0.5 seconds */
    animation: shake 0.5s; 
    
    /* When the animation is finished, start again */
    animation-iteration-count: infinite; 
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.row4 {
    column-count: 6;
    column-gap: 0cm;
    margin:0;
    left: 50%;
    padding: 30px;
    
    
}

.text {
    clear: both;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    color: purple;
    padding: 5px;
    
}


.footer {
clear: all;
padding: 10px;
color: black;
width: 100%;
left: 0;
bottom: 0;
text-align: right;

}


@media (max-width: 980px) {
@media (max-width: 768px) {    
@media (max-width: 640px) {
    .header {position: static}
    img#icon {width:100px; height: 80px}
}
}
}